<div class="card-block">
  <div class="alert alert-{{message.getType()}}" *ngIf="message.getText()">
    {{message.getText()}}
  </div>
  <form [formGroup]="form" *ngIf="userModel">
    <div
      class="form-group"
      [ngClass]=" {'has-error':form.get('email').invalid && form.get('email').touched}"
    >
      <label for="up-username">Username</label>
      <input
        type="text"
        class="form-control underlined"
        id="up-username"
        placeholder="Enter your username"
        formControlName="email"
        [(ngModel)]="userModel.username"
      >
      <span class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched">
      <span *ngIf="form.get('email')['errors']['required']">Email should be present<br> </span>
      <span *ngIf="form.get('email')['errors']['email']">Email should be an email</span>
    </span>
    </div>
    <div
      class="form-group"
      [ngClass]=" {'has-error':form.get('password').invalid && form.get('password').touched}"
    >
      <label for="up-password">Password</label>
      <input
        type="password"
        class="form-control underlined"
        id="up-password"
        placeholder="Password"
        formControlName="password"
        [(ngModel)]="userModel.password"
      >
      <span class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched">
      <span *ngIf="form.get('password')['errors']['required']">Password should be present<br> </span>
      <span *ngIf="form.get('password')['errors']['minlength']">Password should has min length 6</span>
    </span>
    </div>
    <button type="submit" class="btn btn-primary" (click)="authentication()" routerLink="/page/workers-list"
            [disabled]="form.invalid">Login
    </button>
  </form>
</div>
