
<div class="main-wrapper">
  <div class="app">
    <!--HEADER-->
    <header class="header">

      <div class="header-block header-block-nav">
        <ul class="nav-profile">
          <li>
            <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Today person on duty is </h4>
              </div>
              <div class="modal-body" *ngIf="duty && worker">
                <p>Name : {{worker.name}}</p>
                <p>DateStart : {{duty.startDate}}</p>
                <p>DateOver : {{duty.overDate}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
              </div>
            </ng-template>
           <p class="current-btn">Today person on duty is </p>
            <button class="btn btn-info" (click)="open(content)" *ngIf="worker">{{worker.email}}</button>
            <p class="btn btn-info" *ngIf="!worker">NaN</p>
          </li>
          <li class="profile dropdown">
           <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </header>
    <!--HEADER-->
    <!--SIDEBAR-->
    <aside class="sidebar">
      <div class="sidebar-container">
        <div class="sidebar-header">
          <div class="brand">
            <div class="logo">
              <span class="l l1"></span>
              <span class="l l2"></span>
              <span class="l l3"></span>
              <span class="l l4"></span>
              <span class="l l5"></span>
            </div>
            Connected Digital
          </div>
        </div>
        <nav class="menu">
          <ul class="nav metismenu">
            <li routerLinkActive="active">
              <a routerLink="/page/workers-list/">Workers</a>
            </li>
            <li  routerLinkActive="active">
              <a  routerLink="/page/tasks-list/">Tasks</a>
            </li>

          </ul>
        </nav>
      </div>
    </aside>
    <!--SIDEBAR-->
    <!--CONTENT-->
    <article class="content">
      <router-outlet></router-outlet>
    </article>
    <!--CONTENT-->
  </div>
</div>

